In [1]:
import numpy as np
import pandas as pd

import os

for dirname, _, filenames in os.walk('/home/daftvm/workspace/mast1_ai/deep_learning/scikit-learn-mlp/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/home/daftvm/workspace/mast1_ai/deep_learning/scikit-learn-mlp/prediction_house_dl.ipynb

In [2]:
def analysis(data):
    return pd.DataFrame({"Data Type": data.dtypes, "Unique Count": data.apply(lambda x: x.nunique(), axis=0),
                         "Null Count": data.isnull().sum()})

In [3]:
train = pd.read_csv('~/workspace/mast1_ai/electives_fy/maths_f/house_predict/train.csv')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
test = pd.read_csv('~/workspace/mast1_ai/electives_fy/maths_f/house_predict/test.csv')
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
analysis(train)

              Data Type  Unique Count  Null Count
Id                int64          1460           0
MSSubClass        int64            15           0
MSZoning         object             5           0
LotFrontage     float64           110         259
LotArea           int64          1073           0
...                 ...           ...         ...
MoSold            int64            12           0
YrSold            int64             5           0
SaleType         object             9           0
SaleCondition    object             6           0
SalePrice         int64           663           0

[81 rows x 3 columns]

In [6]:
print("Shape of train data:", train.shape)
print("Shape of test data:", test.shape)

Shape of train data: (1460, 81)
Shape of test data: (1459, 80)

In [7]:
X, y = train.drop(['SalePrice'], axis=1), train['SalePrice']

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X, y, train_size=0.7, random_state=4)

print('X_train:', X_train.shape, 'y_train:', y_train.shape)
print('X_val:', X_val.shape, 'y_val:', y_val.shape)

X_train: (1021, 80) y_train: (1021,)
X_val: (439, 80) y_val: (439,)

In [9]:
num_cols = [col for col in X_train.columns if X_train[col].dtype != 'object']

cat_cols = [col for col in X_train.columns if X_train[col].dtype == 'object']

print('Numerical columns:', len(num_cols), '\n', num_cols, end='\n\n')
print('Categorical columns:', len(cat_cols), '\n', cat_cols)

Numerical columns: 37
 ['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

Categorical columns: 43
 ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [10]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

num_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

cat_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])

preprocess = ColumnTransformer(transformers=[
    ('num', num_transformer, num_cols),
    ('cat', cat_transformer, cat_cols)
])

In [11]:
Xt_train = preprocess.fit_transform(X_train)
Xt_val = preprocess.transform(X_val)

print('Xt_train:', Xt_train.shape, 'y_train:', y_train.shape)
print('Xt_val:', Xt_val.shape, 'y_val:', y_val.shape)

Xt_train: (1021, 299) y_train: (1021,)
Xt_val: (439, 299) y_val: (439,)

In [12]:
from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(solver='adam',
                   hidden_layer_sizes=(100, ),
                   activation='relu',
                   # alpha=1e-5,
                   batch_size=250, # default 200
                   learning_rate='constant',
                   max_fun=20000, # default 15000
                   max_iter=5000, # default 200
                   verbose=False,
                   random_state=4)

In [13]:
%%time
mlp.fit(Xt_train, y_train)

CPU times: user 7min 45s, sys: 24.2 s, total: 8min 9s
Wall time: 4min 7s

/home/daftvm/anaconda3/envs/deepl/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (5000) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(batch_size=250, max_fun=20000, max_iter=5000, random_state=4)

In [14]:
%%time
y_pred = mlp.predict(Xt_val)
# y_pred

CPU times: user 26.1 ms, sys: 21 ms, total: 47.1 ms
Wall time: 30.6 ms

In [15]:
%%time
mlp.score(Xt_val, y_val)

CPU times: user 19.8 ms, sys: 523 µs, total: 20.3 ms
Wall time: 17 ms

0.8877467968542279

In [16]:
from sklearn.metrics import mean_squared_log_error

rmsle = np.sqrt(mean_squared_log_error(y_val, y_pred))
rmsle

0.13712946975942625