# TP introduction à pandas

In [1]:
import pandas as pd

1 ) Utiliser la librairie pandas pour lire ce fichier  https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/download/N23CK8u8CBC04m8u5mxl%2Fversions%2FEa36JVIJsvvyl7a4Oxcf%2Ffiles%2Fathlete_events.csv?datasetVersionNumber=2

In [2]:
df = pd.read_csv("athlete_events.csv")

2) Affichez les 5 premières lignes

In [14]:
df.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

3) Affichez tout le jeu de données

In [ ]:
pd.set_option("display.max_columns", None)
df.head()

4) Affichez uniquement les colonnes

In [ ]:
%time
df.columns

5) Affichez uniquement la colonne ID puis son type

In [ ]:
df['ID']
df['ID'].dtype

5 bis ) Convertissez la colonne ID en string

In [ ]:
id = df['ID']
id.astype({'ID': 'string'})

6) Affichez toutes les valeurs possibles de la colonne Team

In [ ]:
pd.set_option('display.max_rows', None)
df['Team'].unique

7) Affichez la colonne Team et Sport

In [ ]:
columns = ['Team', 'Sport']
df[columns]

8) Affichez la 15 ème ligne

In [4]:
df.loc[15]

ID                                               6
Name                               Per Knut Aaland
Sex                                              M
Age                                           33.0
Height                                       188.0
Weight                                        75.0
Team                                 United States
NOC                                            USA
Games                                  1994 Winter
Year                                          1994
Season                                      Winter
City                                   Lillehammer
Sport                         Cross Country Skiing
Event     Cross Country Skiing Men's 30 kilometres
Medal                                          NaN
Name: 15, dtype: object

9) Affichez la 15 ème ligne jusqu'à la 20 ème

In [16]:
columns = ['Team', 'Sport']
df[columns].iloc[14,:5]

Team            United States
Sport    Cross Country Skiing
Name: 14, dtype: object

10) Affichez les 5 dernières lignes

In [13]:
df.iloc[0,5:]
df.tail

Weight                           80.0
Team                            China
NOC                               CHN
Games                     1992 Summer
Year                             1992
Season                         Summer
City                        Barcelona
Sport                      Basketball
Event     Basketball Men's Basketball
Medal                             NaN
Name: 0, dtype: object

11) Affichez le nombre de lignes où les personnes  ont plus de 35 ans

12) Comptez le nombre d'occurences de chacunes des valeurs possibles de la colonne Medal

13) Remplacez les valeurs Nan de la colonne Medal par "None"

14) Supprimez toutes les lignes ou il n'y a pas eu de médaille

15) Affichez le sportif avec le plus de médailles

16) Affichez le sport de ce sportif

17) Affichez le sportif le plus âgé

18) Affichez le sportif le plus petit

19) Affichez l'âge moyen

20) Affichez pour tous les sports l'âge du sportif le plus jeune et âgé

21) Créer une nouvelle colonne "diff" qui est le résultat de la différence de la colonne maxet min calculée précédemment

22) Appliquez la fonction ci-dessous au dataframe pour calculée l'IMC pour toutes les lignes ( Aide: utilisez la fonction lambda et apply)

BONUS: Affichez un histogramme de la colonne imc

# Merge

In [ ]:
# import csv 
df_continent = pd.read_csv("pays_continents.csv", encoding = "ISO-8859-1",  sep=";" )

A l'aide de la méthode merge, fusionner les deux dataframes (City => Ville)

Comptez désormais le nombre de pays par continents

## Comparaison des performances :

In [ ]:
import numpy as np

In [ ]:
def loop_sum_age(df):
    sum = 0
    for i in range(0, len(df["Age"])):
        sum = sum + df["Age"].iloc[i]
    return sum

def iterrows_sum_age(df):
    sum = 0
    for index, row in df.iterrows():
        sum = sum + row["Age"]
    return sum

def apply_sum_age(df):
    return df["Age"].sum()

In [ ]:
%%timeit
loop_sum_age(df)

In [ ]:
%%timeit
iterrows_sum_age(df)

In [ ]:
%%timeit
df["Age"].sum()

In [ ]:
%%timeit
np.array(df["Age"].values).sum()

# Bonus ml

## Séparation train / test

In [ ]:
df = df.dropna()

In [ ]:
X = df[['Age', 'Height', 'Year']] 
y = df['Weight']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_test.mean())

## Régression linéaire

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg = LinearRegression().fit(X_train, y_train)

In [ ]:
print("train % : " + str(reg.score(X_train, y_train)))
print("train % : " + str(reg.score(X_test, y_test)))

In [ ]:
## Régression polynomiale

In [ ]:
from sklearn import linear_model

In [ ]:
reg = linear_model.Lasso(max_iter=10000, alpha=0.1).fit(X_train, y_train)

In [ ]:
print("train % : " + str(reg.score(X_train, y_train)))
print("train % : " + str(reg.score(X_test, y_test)))